<h1 class="p-3 text-center fw-bold main-title"></h1>

      <div class="container" style="margin-top:10px; width: 50rem;">
        <div class="row">
            <div class="col-md-3 gx-0">
                <div class="card-sl" style="width: 50rem; height: 28rem">

                <%= @movie.poster_url %>

                    <div class="card-heading">
                        <%= @movie.title %>

                    <div class="card-text">
                        <%= @movie.overview %>
                    </div>
                   <div class="card-text">
                        <%= @movie.rating %>
                    </div>

                      <%= link_to "Add to Watch List ",  toggle_favorite_list_movie_path(@movie), remote: true, method: :post %>

                </div>
            </div>
        </div>
      </div>

        <div class="flat-show-card text-center mt-5">
          <div class="flex-align">
            <h6 class="no-mb">Share with your friends</h6>

          <div class="flex">
              <i class="fa fa-brands fa-facebook-square fa-2x me-2" style="color:#7e2bb6;"></i>
              <i class="fa fa-brands fa-twitter-square fa-2x me-2" style="color:#7e2bb6;"></i>
              <i class="fa fa-brands fa-pinterest-square fa-2x me-2" style="color:#7e2bb6;"></i>
              <i class="fa fa-envelope-square fa-2x" style="color:#7e2bb6;"></i>
            </div>

          </div>
        </div>
