<h1 class="p-3 text-center fw-bold main-title fontes">Username</h1>

<!-- My bookings Container -->
<div class="row gx-0 fontes">
  <div class="container p-3 rounded " style="width: 90rem;">


    <!-- Board Lateral direito WALLET-->

    <div class="container p-3 bg-light border rounded " style="height: 100%; width: 27rem; float:right;">
      <div class="col-md-12 text-center">
        <h3 class="fw-bold border-bottom main-title">Username Lists</h3>



        <!-- Board Lateral direito WALLET-->
        <!-- Board Lateral direito list services-->
        <div class="col-md-12 text-center">

          <table class="table align-middle mt-3 bg-white main-title border-top: 2px solid currentColor;">
            <thead class="table-header text-light">
              <tr>
                <th class = "fontes" >My Services </th>
              </tr>
            </thead>
          </table>

          <%= link_to '+ Add List ' , new_list_path, class: "btn btn-outline-success rounded-pill border" %>

            <div class="container d-flex justify-content-center fontes" style="margin-left:-17px;">
            </div>
        </div>

        <div class="container d-flex justify-content-center fontes" style="margin-left:-17px;">
          <ul class="listservice-group text-white col-md-12 main-title">
            <% @user.lists.each do |list| %>
              <%= link_to list_path(list) do %>
                <li class="listservice-group-item d-flex justify-content-between align-content-center">

                  <div class="d-flex flex-row">

                    <div class="about">
                      <h6 class="mt-2 fontes">
                        <%= list.name %>
                      </h6>
                      <div class="about d-flex">
                        <span class="ms-1">
                          <%= list.name %>
                        </span>
                        <div >
                          <strong><span style="float:right;"><%= list.name %></span></strong>
                        </div>
                      </div>
                    </div>
                  </div>

                </li>
                <% end %>
                  <% end %>
          </ul>
        </div>

        <!-- final Board Lateral direito list services-->

        <div class="row mt-3 gx-0 fontes">
        </div>
      </div>
    </div>

    <!-- Final Board Lateral direito-->

    <!-- Board Lateral esquerdo -->

    <div class="container p-3 bg-light border rounded fontes" style="width: 60rem; float:left; height: 100%;">
      <div class="col-md-12">
        <h3 class="fw-bold border-bottom main-title text-center fontes"> Watch List</h3>

        <table class="table align-middle mt-3 bg-white main-title fontes">
        <thead class="table-header ">
          <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Overview</th>
            <th>Rating</th>
            <th class="text-center">Lists
            <th class="text-center">Remove</th>
          </th>
        </thead>

       <tbody>
        <% @favorite_movies.each do |movie| %>

            <tr style="height: 67px">
              <td>
                <p class="fw-bold mb-1 fontes">
                  <%= movie.poster_url %>
                </p>
              </td>

              <td>
                <p class="fw-normal mb-1 fontes">
                  <%= movie.title %>
                </p>
              </td>

              <td>
                <p class="fw-normal mb-1 fontes">
                  <%= movie.overview %>
                </p>
              </td>

              <td>
                <p class="fw-normal mb-1 fontes">
                <%= movie.rating %>
                </p>
              </td>

            </tr>
            <% end %>
        </tbody>
        </table>

      </div>
    </div>



      <!-- Final Board Lateral esquerdo -->

    </div>
  </div>
</div>

<!-- My Services were booked Container -->



<div class="row gx-0">
  <div class="container p-3 rounded " style="width: 90rem; height: 20rem;">




   <div class="container bg-light border rounded " style="height: 100%; width: 27rem; float:right;">
      <div class="col-md-12 text-center">
        <h3 class="fw-bold border-bottom main-title mt-3">History</h3>

        <table class="table align-middle mt-3 bg-white main-title border-top: 2px solid currentColor;">
          <thead class="table-header text-light">
            <tr>
              <th>Title</th>
              <th class="text-end">Date</th>
              <th class="text-end">Balance</th>
            </tr>
          </thead>
        </table>




      </div>
    </div>





    <div class="container bg-light border rounded " style="height: 100%; width: 60rem; float:left;">
      <h3 class="fw-bold border-bottom main-title mt-3 text-center">Favorite lists</h3>
      <table class="table align-middle mt-3 bg-white main-title">
        <thead class="table-header text-light">
          <tr>
            <th>User</th>
            <th>List Name</th>
            <th>List Description</th>
            <th>Favorites</th>
            <th class="text-center">Remove</th>


        </thead>
        <tbody>
        <% @favorite_lists.each do |list| %>

            <tr style="height: 67px">
              <td>
                    <p class="fw-bold mb-1 fontes">
                      <%= list.user %>
                    </p>
              </td>

              <td>
                <p class="fw-normal mb-1 fontes">
                <%= list.name %>
                </p>
              </td>

              <td>
                <p class="fw-normal mb-1 fontes">
                <%= list.name %>
                </p>
              </td>

              <td>
                <p class="fw-normal mb-1 fontes">
                <%= list.name %>
                </p>
              </td>





            </tr>
            <% end %>
        </tbody>
        </table>



    </div>
  </div>
</div>
</div>
</div>
</div>
